<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".coverage/cache"
         colors="true">
    <coverage>
        <report>
            <clover outputFile=".coverage/clover.xml" />
            <cobertura outputFile=".coverage/cobertura.xml" />
            <html outputDirectory=".coverage/.report" lowUpperBound="35" highLowerBound="70" />
            <php outputFile=".coverage/coverage.cov" />
        </report>
    </coverage>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile=".coverage/junit.xml" />
    </logging>
    <php>
        <server name="APP_ENV" value="testing" />
        <ini name="memory_limit" value="512M" />
    </php>
</phpunit>
